nav {
  background: #644A8C !important;
}
.navbar-brand {
  color: #fff !important;
}
.navbar-nav li a {
  color: #FFF !important;
}

.navbar-nav .active a {
  color: #333 !important;  
  background: #FFF !important;
}
.velkommen {
	text-align: center;
}
.panel-heading {
	text-align: center;
}
.images {
	list-style-type: none;
}
.images li {
	display: inline-block;
	vertical-align: top;
	width: 24.9%;
}
.images li img {
	max-width: 100%;
}
.orders {
	text-align: center;
}
.list-gruppe {
	text-align: center;
	color: red;
}